# Server-side auth provider.
# mock | real | test
AUTH_PROVIDER=mock

# Server-side mock auth scenario.
# anonymous | free-member | standard-member | premium-member | admin | purchased-member
MOCK_AUTH_SCENARIO=premium-member

# Browser MSW.
# enabled | disabled
NEXT_PUBLIC_API_MOCKING=enabled

# Browser MSW auth scenario.
# anonymous | free-member | standard-member | premium-member | admin | purchased-member
NEXT_PUBLIC_BROWSER_AUTH_SCENARIO=premium-member
